*{
   
    background-color: #121111;
    font-family: "Montserrat", sans-serif;
    color: #fff;
   
}

html, body{
    width: 100%;
    background-color: #121111 !important;
}

header#head{
    padding: 15px 0;
}

a#teste.nav-link{
    color: #fff;
    transition: 1s;
}

a#teste.nav-link:hover{
    color: #929292;
   
}

div#main-title{
    padding-top: 200px;
    height: 561px;
    margin: 0;
    
}

P.header-title{
    font-size: 4em;
    line-height: 70px;

}

p.para-header{
    margin-top: 48px !important;
    
}

div#main-title > p{
    margin: 0;

}

div#img-header{
    position: relative;
    margin-top: 150px;
    
    height: 500px;
    border-radius: 30px;
}

#img{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}

#medias{
    margin: 25px 25px 0 0;

}

#medias > img{
    margin-right: 25px;
    cursor: pointer;
     
}

#card-wordpress, #card-front-end, #card-seo{
    background-color: #F7F5ED;
    border-radius: 30px;
    height: 300px;
}




